BlogBundle\Entity\Tag:
    type: entity
    table: tags
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            nullable: true
            length: 255
            options:
                fixed: false
        description:
            type: string
            nullable: true
            length: 255
            options:
                fixed: false
    oneToMany:
        entryTags:
            targetEntity: EntryTags
            mappedBy: tag
            cascade: ["persist"]
    lifecycleCallbacks: {  }
